.navbar,.header-2{
    display: flex;
    align-items: center;
}
.navbar a, .header-2 a  {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.number{
    margin-right: 1rem;
}
.menu a {
    margin-left: 1.4rem;
}

.navbar, .menu  ,.header-2,.produs-input { /*centrarea la mijloc a elementerlo in max width */
    margin: auto;
    max-width: 1400px;
}
.header-2{
    background-color: #ecf1f8;
    padding-bottom:  15px; 
    padding-top: 10px;
    margin-top: 1rem;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;     
  height: 17px;    
  border: none;
  padding: 0;
  float: left;
  transform: translateY(5px);
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.burger-menu span {
  display: block;
  height: 3px;          
  background-color: black;
  border-radius: 2px;  
  cursor: pointer;

}
.produs,.burger-menu{
    cursor: pointer; /* Div produse +burger menu pentru cautare primeste pointer */
}
#produs-search {
  flex: 1 1 auto;
  min-width: 50px;
  padding: 8px clamp(6px, 2vw, 20px); 
}
.produs-input {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 3rem;
}

/* All Style for icon */

.icon{
    margin-right: 0.6rem;
}
#search-icon{
  margin-left: -40px;
  transform: translateY(4px);
}
.material-icons-outlined{
    transform: translateY(5px);
    margin-right: 0.3rem;
    font-size: 1.8rem;
}

/* FINISH All Style for icon */

.carusel-photo{
 
  margin: auto;
  max-width: 1400px;
  margin-top: 2rem;

}
.photo1-carusel{
  width: 1400px;
}